.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.container {
  display: flex;
  width: 80vw;
  border: solid red 1px;
  border-radius: 10px;
  overflow: none;
}

.beach-panel {
  height: 80vh;
  border: solid black 1px;
  border-radius: 25px;
  margin: 10px;
  width: 10%;
}


form{
  display: flex;
  flex-direction: column;
}

.location-container{
  border: solid black 1px;
  display: grid;
  grid-template-rows: repeat(4,1fr);
  grid-template-columns: repeat(5,1fr);
}
.location-tile{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border: solid black 1px;
}

.location-tile:hover,.item-tile:hover{
  background-color: lightblue;
}

.items-container{
  border: solid black 1px;
  display: grid;
  grid-template-rows: repeat(auto,1fr);
  grid-template-columns: repeat(auto,1fr);
}

.item-tile{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border: solid black 1px;
}
